.rlf-input {
  width: 200px;
  border: 1px solid #ccc;
  width: 260px;
  line-height: 24px;
  padding: 7px 7px 7px 48px;
  font-size: 14px;
  background: #ffffff url(/resource/front/images/rl-sprite.png) no-repeat -80px -678px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: padding 0.15s;
  -webkit-transition: padding 0.15s;
  -moz-transition: padding 0.15s;
  -o-transition: padding 0.15s;
  border-color: #d0d6d9;
}
.rlf-input:-moz-placeholder {
  color: #d0d6d9;
}
.rlf-input::-moz-placeholder {
  color: #d0d6d9;
}
.rlf-input:-ms-input-placeholder {
  color: #d0d6d9;
}
.rlf-input::-webkit-input-placeholder {
  color: #d0d6d9;
}
.rlf-input.placeholder {
  color: #d0d6d9;
}
.rlf-input:focus {
  border-color: #7bd089;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c6ebcc;
}
.rlf-field-error {
  border-color: #f01400;
}
.rlf-field-error:focus {
  border-color: #f01400;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #da838d;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  padding-left: 15px;
  padding-right: 40px;
}
.rlf-input-email {
  background-position: -80px -678px;
}
.rlf-input-pwd {
  background-position: -80px -774px;
}
.rlf-input-nick {
  background-position: -80px -726px;
}

.rlf-verify-group .rlf-input{
	background: #fff;
	padding-left: 7px;
	width: 120px;
	vertical-align: top;
}
.rlf-verify-group img{
	height: 38px;
	width: 70px;
	margin:0 10px;
	vertical-align: top;
	display: inline-block;
}
.rlf-verify-group span{
	display: inline-block;
	color: #39b94e;
	cursor: pointer;
	height: 40px;
	vertical-align: top;
	line-height: 150%;
	margin-top: -4px;
}
.rlf-tip-wrap{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.rlf-tip-error{
	/* background: url(../../../images/rl-sprite.png) no-repeat -108px -934px;
	padding-left: 15px; */
	color: #f01400;
}

.rlf-btn-gray{

}